body {
	background-color: lemonchiffon;
}
h1 {
color: orangered; 
text-align: center; 
text-shadow: 2px 2px 5px black; 
}
h2 {
color: orangered; 
text-align: center; 
text-shadow: 2px 2px 5px black; 	
}